@import "tailwindcss";

@layer utilities {
  .airbnb {
    background-color: rgb(255, 56, 92);
  }
  .airbnb:hover {
    background-color: rgb(213, 0, 39);
  }
  .airbnb-dark{
    color: rgb(213,0,39);
  }
}

/* :root{
  --airbnb: 255,56,92;
  --airbnb-dark: 213,0,39;
} */
